body, html {
    height: 100%;
    margin: 0;
    font-family: helvetica;
    font-size: 50px; /*changed to bigger*/
    font-weight: 100;
    background-color: #f7f7f9;
}

#css-table {
    display:table;
}

#css-table .col{
    display:table-cell;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}

.container.content.submissionBox { 
    width: 300px; height: 150px;  /*NOT WORKING*/
}
.container.content label {
    font-size:20px; 
}
.container.open-sidebar {
    left: 80%; /*changed -- must match width of sidebar */
}
 
.swipe-area {
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
    height: 100%;
    background: #f3f3f3;
    z-index: 0;
}
.content.p
{
white-space:nowrap;
}
#sidebar {
    background: #1e2451;
    position: absolute;
    clear: both;
    width: 80%;/*changed -- must match left*/
    height: 100%;
    left: -80%;/*changed -- must match width*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; /*added*/
}
#sidebar ul li {
    margin: 0;
}
#sidebar ul li a {
    padding: 45px 25px;
    font-size: 60px; /*changed to bigger*/
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #575757;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
    background: #e56a69;
}

select {
    width: 240px;
   height: 34px;
   overflow: hidden;
   border: 1px solid #ccc;
   font-size: 14px;
}

input[type=submit] {
    width: 100px;
    float: left;
    color:white;
    font-size:70%;
    padding:10px;
    background-color:gray;
    border-bottom:2px solid black;
    cursor:pointer;
}
input[type=submit]:hover {
    background-color:black;
}

#sidebar #picture{
    width:30%;
    margin-left: auto;
    margin-right: auto;


}
.main-content {
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.main-content .content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*padding-left: 105px;*/
    width: 100%;
    text-align: center; 
}
/*.main-content .content h1{   CAUSING WEIRD MENU BUG
    font-weight: 100;
}

.main-content .content p{
    width: 100%;
    line-height: 160%;
}*/
.main-content #sidebar-toggle {
    background: #484848;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 10px;
    float: left;
    height: 80px;
    width: 80px;
    margin-right:20px;
    margin-bottom:20px;
}
.main-content #sidebar-toggle .bar{
    display: block;
    width: 77px; /*changed to bigger*/
    margin-bottom: 25px;
    margin-top: 10px;
    height: 4px;
    background-color: #fff;
    border-radius: 3px;  
}
.main-content #sidebar-toggle .bar:last-child{
     margin-bottom: 0;   
}
.container.open-sidebar #footer {
    color: gray;
    background-color: #1e2451;
    text-align: left;
    width:100%;
    box-sizing: border-box;
    position: relative;
    clear: both;
    font-size: 20px;
    padding-left: 7px;
    
}
h2 {
    color: #e56a69 ;
}

h1 {
    color: #0e1235;
    font-size: 74px; /*changed to bigger*/
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #2c3261;
}

a:hover {
    border-bottom: 2px solid #e56a69;
}

a:visited {
    color: #2c3261;
}

